body {
  font-family:Arial, Helvetica, sans-serif;
}

#logo {
  max-height:42px;
  margin-right:10px;
  margin-top:-3px;
  display:inline-block;
}

#promo {
  text-align:center;
  padding:40px;
  background:url(../../assets/img/background.jpg) no-repeat;
  background-size:cover;
  margin-top:65px;
}

@media (max-width:991px) {
  #promo {
    padding:20px;
  }
}

#promo .jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.75);
  max-width:800px;
  margin:0 auto;
}

@media (max-width:991px) {
  #promo .jumbotron {
    padding:20px;
  }
}

.dark-section {
  background-color:#eff7fb;
}

.site-section {
  text-align:center;
  padding-bottom:70px;
}

.site-section h1 {
  font-weight:normal;
  margin-bottom:30px;
  margin-top:60px;
}

#welcome p {
  max-width:800px;
  font-size:20px;
  margin:0 auto;
  color:#666;
}

.why .item {
  padding-top:36px;
}

#why .item i {
  font-size:42px;
  color:rgb(255,43,115);
}

#why .item h2 {
  font-weight:normal;
  margin-top:13px;
  margin-bottom:20px;
  font-size:24px;
}

#why .item p {
  color:#687378;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color:rgb(254,254,108);
  border-color:transparent;
}